SES_Notificador/Web References/WSSiemens2020/ServiceCDIN.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://scmsdinwcf.mxapps.siemens.cloud/ServiceCDIN.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Siemens.SCM.CDIN.WCF" />
  <xs:element name="RegisterPartnerInventoryT">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CustomerNumberSAP" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DataJsonEncripted" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterPartnerInventoryTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Siemens.SCM.CDIN.WCF" minOccurs="0" name="RegisterPartnerInventoryTResult" nillable="true" type="q1:MessagesResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterPartnerSalesT">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CustomerNumberSAP" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DataJsonEncripted" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterPartnerSalesTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Siemens.SCM.CDIN.WCF" minOccurs="0" name="RegisterPartnerSalesTResult" nillable="true" type="q2:MessagesResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>