SES_Notificador/Web References/WSSiemens2020/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_IServiceCDIN_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://scmsdinwcf.mxapps.siemens.cloud/ServiceCDIN.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://scmsdinwcf.mxapps.siemens.cloud/ServiceCDIN.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://scmsdinwcf.mxapps.siemens.cloud/ServiceCDIN.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Siemens.SCM.CDIN.WCF" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceCDIN_RegisterPartnerInventoryT_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterPartnerInventoryT" />
  </wsdl:message>
  <wsdl:message name="IServiceCDIN_RegisterPartnerInventoryT_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterPartnerInventoryTResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceCDIN_RegisterPartnerSalesT_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterPartnerSalesT" />
  </wsdl:message>
  <wsdl:message name="IServiceCDIN_RegisterPartnerSalesT_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterPartnerSalesTResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceCDIN">
    <wsdl:operation name="RegisterPartnerInventoryT">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceCDIN/RegisterPartnerInventoryT" message="tns:IServiceCDIN_RegisterPartnerInventoryT_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceCDIN/RegisterPartnerInventoryTResponse" message="tns:IServiceCDIN_RegisterPartnerInventoryT_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegisterPartnerSalesT">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceCDIN/RegisterPartnerSalesT" message="tns:IServiceCDIN_RegisterPartnerSalesT_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceCDIN/RegisterPartnerSalesTResponse" message="tns:IServiceCDIN_RegisterPartnerSalesT_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpsBinding_IServiceCDIN" type="tns:IServiceCDIN">
    <wsp:PolicyReference URI="#BasicHttpsBinding_IServiceCDIN_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RegisterPartnerInventoryT">
      <soap:operation soapAction="http://tempuri.org/IServiceCDIN/RegisterPartnerInventoryT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterPartnerSalesT">
      <soap:operation soapAction="http://tempuri.org/IServiceCDIN/RegisterPartnerSalesT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpsBinding_IServiceCDIN" binding="tns:BasicHttpsBinding_IServiceCDIN">
      <soap:address location="https://scmsdinwcf.mxapps.siemens.cloud/ServiceCDIN.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>