SES_Notificador/Web References/PruebasWSSiemens/ServiceCDIN.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Siemens.SCM.CDIN.WCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Siemens.SCM.CDIN.WCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="MessagesResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProcessEstatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="proceessstatus" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MessagesResult" nillable="true" type="tns:MessagesResult" />
</xs:schema>